<h3>Change Password</h3>

Hi {{ username }} !<br>

Go to link to change password : <a href="{{ url('snow_tricks_user_resetPassword', {'token': token}) }}">{{ url('snow_tricks_user_resetPassword', {'token': token}) }}</a><br>

Thanks !<br>
<strong>SnowTricks Website</strong>
