<h3>Confirm your email</h3>

Hi {{ username }} ! Your account must be validated !<br>

Go to this link to validate your account now : <a href="{{ url('snow_tricks_user_tokenVerification', {'token': token}) }}">{{ url('snow_tricks_user_tokenVerification', {'token': token}) }}</a><br>

Thanks !<br>
<strong>SnowTricks Website</strong>
