{% if app.user %}
    {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
    <hr class="col-lg-10">
    <aside class="col-lg-12">

        {{ form_start(form) }}
        <div class="form-row align-items-center">


            <div class="offset-lg-3 col-lg-4">
                {{ form_label(form.message) }}
                {{ form_widget(form.message) }}
            </div>



        {{ form_end(form) }}
        </div>

    </aside>
{% endif %}