{% extends "base.html.twig" %}
{% block title %}Accueil{% endblock %}

{% block header %}
<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Bienvenue sur SnowTricks !</div>
            <div class="intro-heading text-uppercase">Le Wiki du snowboard</div>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#services">See Tricks</a>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}

<div class="row">

    {{ render(controller('SnowTricksTrickBundle:Trick:listTricks')) }}

</div>

    {{ include('@SnowTricksTrick/modals/delete_trick.html.twig') }}
{% endblock %}