<!-- Modals -->
<div class="modal fade" id="frontPicture" tabindex="-1" role="dialog" aria-labelledby="frontPictureTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Select Front Picture</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_widget(form.frontPictureName) }}
                {{ form_label(form.frontPicture) }}
                {{ form_widget(form.frontPicture) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalVideo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Insert video URL</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Only Youtube or Dailymotion video. Thanks.</p>
                <div class="form-group">
                    <input type="text" class="form-control video-url">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary saveVideo">Save</button>
            </div>
        </div>
    </div>
</div>