<h3>Merci de valider votre enregistrement</h3>

Salut {{ username }} ! Encore une étape avant l'enregistrement de votre compte !<br>

Il suffit de cliquer ce sur lien : {{ path('snow_tricks_user_tokenVerification', {'token': token}) }}"<br>

Merci !<br>
L'équipe <strong>SnowTricks</strong>.