<h3>Confirm your email</h3>

Hi {{ username }} ! Your account must be validated !<br>

Go to this link to validate your account now : {{ path('snow_tricks_user_tokenVerification', {'token': token}) }}<br>

Thanks !<br>
<strong>SnowTricks Website</strong>